@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@font-face {
    font-family:'android' ;
    src: url(fontes/idroid.otf);
}
body{
    background-color:rgb(148, 251, 217);
    margin: 0;
    
}
h1{
    font-family: 'android', Arial, sans-serif;
    color: #137547;
    margin: 20px;
   
}
h2{
    font-family: 'android', Arial, sans-serif;
    color: #137547;
    background-color: #ecfbef;
    margin: 20px;

}
header{
    background-image: linear-gradient(to bottom,#80ed99, #137547);
    color: white;
    padding: 10px;
    margin: 0;
    
}
h1#curiosidades{

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    justify-content: center;
    display: flex;
  
    
   
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
a:hover{
    color: #80ed99;
}
p#introducao{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    justify-content: center;
    display: flex;
    
}
.conteudo{
    background-color: white;
    padding: 20px;
    width: 70%;
    margin: auto;
}
p{
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    
}
.video{
    background-color: #137547;
    padding: 20px;
    width: 70%;
    margin: auto;
    justify-content: center;
    display: flex;
}
img{
    margin: auto;
    justify-content: center;
    display: flex;
    width: 100%;
}
.doce{
    background-color: #e4ffda;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 75%;
    border-radius: 20px;
    margin: auto;
    padding-bottom: 20px;
}
#extras{

    background-color: #5bba6f;
    border-radius: 20px 20px 0px 0px;
    padding: 2%;
    

}
.ajuste{
    width: 30%;
}
ul{
    display: inline-block;
    padding: 0% 0% 0% 10%;
    list-style:none;
}
li::before{
    content: '✔';
}
footer{
    background-color: #137547;
    display: flex;
    justify-content: center;
    height: 1%;
    margin-top: 2%;
}
footer > p{
    display: block;
}